@import '@/styles/globalStyles.scss';
@import '@/styles/page_styles.scss';
@import '@/styles/card_styles.scss';

.edit-response-page {
  @include page-style;

  &-header {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .edit-response-page-header {
    @include question-card;
  }
}
