@import '@/styles/globalStyles.scss';

.edit-layout {
  & .edit-layout-header {
    background: white;
    min-height: 50px;
    justify-content: center;
    display: flex;

    .edit-items {
      height: 55px;
      display: flex;
      width: 120px;
      justify-content: center;
      align-items: center;

      font-size: 1rem;
      color: black;

      &:hover {
        font-weight: bold;
        cursor: pointer;
        border-bottom: 3.5px solid $main-red-color;
      }

      & span {
        transform: translateY(-4%);
      }
    }

    .active {
      background: $main-red-color;
      color: #fff !important;
      font-weight: bold;
      cursor: pointer;
    }
  }
}
