@import '@/styles/globalStyles.scss';

.my-table-container {
  position: relative;
  padding-top: 10px;
}

.my-table {
  padding-top: 15px;

  .ant-table-body {
    overflow: auto !important;
    min-height: 300px;
  }

  .ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    background-color: transparent;
  }

  .ant-pagination {
    justify-content: center;
    margin-top: 30px;

    li,
    button {
      border-radius: 50%;
      border: none;
      background: transparent;
    }

    .ant-pagination-item-active {
      a {
        color: white;
      }

      border: none;
    }

    .ant-pagination-item:hover {
      a {
        color: white;
      }

      border: none;
    }
  }

  .ant-table-thead>tr>th {
    background-color: #f8f8f8;
  }

  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-radius: 20px;
  }

  .actions {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
    height: 20px;


    span:hover {
      color: $main-blue-color;
      transform: scale(1.4);
      transition: 300ms;
    }

    .delete-icon:hover {
      color: $main-red-color;
    }
  }
}