.create-form-page {
  width: 60%;
  margin: 20px auto;

  .form-question-list {
    margin: 20px 0;
  }

  .create-form-header {
    border: 1px solid rgb(202, 202, 202);
    padding: 20px 20px 0px 20px;
    background-color: white;
    width: 100%;
  }

  .create-form {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
  }

  & .ant-form-item-label {
    font-weight: 700;

    label {
      font-size: 1rem;
    }
  }

  & .submit-btn {
    margin-top: 14px;
  }

  .ant-divider-horizontal {
    margin: 1rem 0;
  }
}