@import '@/styles/globalStyles.scss';

.app-layout {
  .ant-layout {
    display: flex;
    justify-content: center;
    width: 100vw;
    position: relative;
    background-color: $main-background-color;

    .ant-layout-header {
      min-height: 85px;
      background-color: $main-red-color;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 30px;
      line-height: 0;

      .logo {
        height: 100%;
        display: flex;
        align-items: center;

        .logo-text {
          margin-left: 1rem;
          height: 80%;
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          justify-content: center;
          gap: 1.3rem;
          color: white;
          flex-wrap: content;

          create-form-page span:first-child {
            font-weight: 600;
            font-size: 18px;
          }

          span {
            font-size: 15px;
            width: 100%;
            text-overflow: hidden;
          }
        }

        a {
          height: 100%;
          display: flex;
          align-items: center;

          img {
            height: 80%;
          }
        }
      }
    }

    .ant-layout-content {
      background-color: $main-background-color;
      width: 60%;
      margin: 2rem auto;

    }

    .ant-layout-footer {
      background-color: $main-background-color;
    }
  }
}