$main-red-color: #aa1d2b;
$secondary-red-color: #cf0e23;
$main-blue-color: #1890ff;
$main-background-color: #f0ebf8;
$divider-color: #dadce0;
$main-gray-color: #9d9d9d;
$secondary-gray-color: rgb(190, 190, 190);
$main-black-color: #212020;
